In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import webbrowser
import requests
import lxml.html
import re

In [2]:
authKey = "92514dfc41e26715c7159127608020b866378caf"
companyCode = "024110"
startDate = "20150101"

In [3]:
url = "http://dart.fss.or.kr/api/search.xml?auth="+authKey+"&crp_cd="+companyCode+"&start_dt="+startDate+"&bsn_tp=A001&bsn_tp=A002&bsn_tp=A003"

In [4]:
resultXML = urlopen(url)
result = resultXML.read()

xmlsoup = BeautifulSoup(result , 'html.parser')

data = pd.DataFrame()
te = xmlsoup.findAll("list")

In [5]:
for i in te:
    temp = pd.DataFrame(([[i.crp_cls.string,i.crp_nm.string,i.crp_cd.string,i.rpt_nm.string,i.rcp_no.string,
                          i.flr_nm.string,i.rcp_dt.string,i.rmk.string]]),
                       columns = ["crp_cls","crp_nm","crp_cd","rpt_nm","rcp_no","flr_nm","rcp_dt","rmk"])
    data = pd.concat([data,temp])

In [6]:
data = data.reset_index(drop=True)

In [9]:
data

,crp_cls,crp_nm,crp_cd,rpt_nm,rcp_no,flr_nm,rcp_dt,rmk
0,Y,기업은행,024110,분기보고서 (2019.03),20190515002645,기업은행,20190515,None
1,Y,기업은행,024110,사업보고서 (2018.12),20190401004404,기업은행,20190401,연
2,Y,기업은행,024110,분기보고서 (2018.09),20181114002625,기업은행,20181114,None
3,Y,기업은행,024110,반기보고서 (2018.06),20180814002808,기업은행,20180814,None
4,Y,기업은행,024110,[기재정정]사업보고서 (2017.12),20180814001442,기업은행,20180814,연
5,Y,기업은행,024110,분기보고서 (2018.03),20180515002315,기업은행,20180515,None
6,Y,기업은행,024110,사업보고서 (2017.12),20180402004413,기업은행,20180402,정연
7,Y,기업은행,024110,분기보고서 (2017.09),20171114002671,기업은행,20171114,None
8,Y,기업은행,024110,반기보고서 (2017.06),20170814001820,기업은행,20170814,None
9,Y,기업은행,024110,분기보고서 (2017.03),20170515004579,기업은행,20170515,None

In [20]:
user_num = int(input("몇 번째 보고서를 확인하겠습니까?"))
url_user = "http://dart.fss.or.kr/dsaf001/main.do?rcpNo="+data['rcp_no'][user_num]
webbrowser.open(url_user)

몇 번째 보고서를 확인하겠습니까?1

True